 <%= link_to "logout", destroy_user_session_path, method: :delete %>
<body>
    <header>
      <div class="headline">
        <h1>Bookers</h1>
      </div>
      <nav>
        <ul class="nav-list">
          <li class="nav-list-item">Home</li>
          <li class="nav-list-item">Users</li>
          <li class="nav-list-item">Books</li>
          <li class="nav-list-item">Logout</li>
        </ul>
      </nav>
    </header>
    <!-- main -->
<main >
  <div class="contents">
    <!-- user info -->
    <div class="user">
      <div class="user-headline">
        <h2>User info</h2>
        <!-- user-image -->
        <!-- user-name introduction -->
        <div class="user-image"></div>
        <!-- user-id　挿入　-->
        <div></div>
        <div></div>
        <a href="#">profile編集</a>
      </div>
    </div>
<!-- books -->
<div class="book">
  <h2>Books</h2>
<table>
  <tr>
    <th width>image</th>
    <th>Title</th>
    <th>opinion</th>
  </tr>
 <tr>
  <td>1</td>
  <td>1</td>
  <td>1</td>
 </tr>
</table>
</div>
</div>

<!-- new books -->
<div class="new-book">
<h2>New book</h2>
<!-- form_with -->

</div>
</main>
  </body>

<!-- footer -->
<footer>
<div class="footer-text">
  Copy Right Infratop.inc
</div>
</footer>
</html>

