<h1>welcome to Bookers !!</h1>
<h3>In Bookers,</h3>
<p class="top-text">
  you can share and exchange your opiions ,inpressios ,and emotions<br />
  abaut various books!
</p>
<div class ="sain-icon">
  <div class="log-in"><%= link_to 'Log in', new_user_session_path %></div>
  <div class="sign-up"><%= link_to'Sign up', new_user_registration_path %></div>
</div>